{% extends 'base.html.twig' %}

{% block title %}Demande{% endblock %}

{% block body %}
    <h1>Demande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demande.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ demande.date ? demande.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ demande.debut ? demande.debut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Retour</th>
                <td>{{ demande.retour ? demande.retour|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ demande.type }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ demande.state ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_demande_index') }}">back to list</a>

    <a href="{{ path('app_demande_edit', {'id': demande.id}) }}">edit</a>

    {{ include('demande/_delete_form.html.twig') }}
{% endblock %}
